.parent-div {
    width: 1440px;
    height: 2255px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .FRAME-363-3955 {
    transform: rotate(0deg);
    position: relative;
    width: 1440px;
    height: 2255px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
  }
  .FRAME-363-3956 {
    transform: rotate(0deg);
    position: absolute;
    width: 1440px;
    height: 2175px;
    left: 0px;
    top: 80px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 246, 229, 1);
    mix-blend-mode: normal;
  }
  .INSTANCE-363-3960 {
    transform: rotate(0deg);
    position: absolute;
    width: 450px;
    height: 50px;
    left: 657px;
    top: 1760px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-166 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
  }
  .INSTANCE-I363-3960-71-166-71-190 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 13px;
    opacity: 1;
    background: transparent;
  }
  .INSTANCE-I363-3960-71-167 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-167-71-182 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
    background: rgba(249, 173, 20, 1);
  }
  .INSTANCE-I363-3960-71-168 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-168-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-169 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-169-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-170 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-170-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-171 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-171-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-172 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-172-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-173 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .FRAME-I363-3960-71-173-71-179 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  .INSTANCE-I363-3960-71-174 {
    transform: rotate(0deg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
  }
  .INSTANCE-I363-3960-71-174-71-188 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 13px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-363-3961 {
    position: absolute;
    width: 438px;
    height: 47px;
    left: 859px;
    top: 17px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .FRAME-742-21941 {
    transform: rotate(0deg);
    position: absolute;
    width: 19px;
    height: 22px;
    left: 1278px;
    top: 25px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .FRAME-363-3963 {
    transform: rotate(0deg);
    position: absolute;
    width: 290.0480041503906px;
    height: 47px;
    left: 980.9520034790039px;
    top: 17px;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(84, 95, 112, 1);
  
    left: 979.9520034790039px !important;
    top: 16px !important;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .FRAME-742-21943 {
    transform: rotate(180deg);
    position: absolute;
    width: 19px;
    height: 22px;
    left: 1285.76025390625px;
    top: 30.27392578125px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .INSTANCE-714-19236 {
    transform: rotate(0deg);
    position: absolute;
    width: 283px;
    height: 667px;
    left: 125px;
    top: 85px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4114 {
    transform: rotate(0deg);
    position: absolute;
    width: 33px;
    height: 33px;
    left: 19px;
    top: 456px;
    opacity: 0;
    background: transparent;
  }
  .RECTANGLE-I714-19236-363-4114-243-632 {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 1);
  
    border: 1px solid rgba(0, 0, 0, 1);
  
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    width: 31px;
    height: 31px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-714-18942 {
    transform: rotate(0deg);
    position: absolute;
    width: 283px;
    height: 227px;
    left: 0px;
    top: 440px;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12443 {
    position: absolute;
    width: 283px;
    height: 227px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12444 {
    position: absolute;
    width: 283px;
    height: 75px;
    left: 0px;
    top: 152px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12445 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 142px;
    top: 152px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12446 {
    position: absolute;
    left: 142px;
    top: 152px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12448 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 213px;
    top: 152px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12449 {
    position: absolute;
    left: 213px;
    top: 152px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-bottom-right-radius: 15px;
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12451 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 71px;
    top: 152px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12452 {
    position: absolute;
    left: 71px;
    top: 152px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12454 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 0px;
    top: 152px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12455 {
    position: absolute;
    left: 0px;
    top: 152px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-bottom-left-radius: 15px;
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12457 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 18px;
    top: 163px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .FRAME-I714-19236-714-18942-501-12460 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 230px;
    top: 160px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .FRAME-I714-19236-714-18942-501-12462 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 158px;
    top: 163px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12463 {
    position: absolute;
    width: 30.626054763793945px;
    height: 30.560428619384766px;
    left: 1.6400985717773438px;
    top: 1.6400985717773438px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12467 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 86px;
    top: 163px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12469 {
    position: absolute;
    width: 283px;
    height: 75px;
    left: 0px;
    top: 76px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12470 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 213px;
    top: 76px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12471 {
    position: absolute;
    left: 213px;
    top: 76px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12473 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 230px;
    top: 86px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12475 {
    position: absolute;
    width: 71px;
    height: 75px;
    left: 141px;
    top: 76px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12476 {
    position: absolute;
    left: 142px;
    top: 76px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12478 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 157px;
    top: 86px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12479 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 157px;
    top: 86px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12481 {
    position: absolute;
    width: 71px;
    height: 75px;
    left: 70px;
    top: 76px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12482 {
    position: absolute;
    left: 71px;
    top: 76px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12484 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 87px;
    top: 86px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12486 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 0px;
    top: 76px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12487 {
    position: absolute;
    left: 0px;
    top: 76px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12489 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 18px;
    top: 90px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12491 {
    position: absolute;
    width: 283px;
    height: 75px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .GROUP-I714-19236-714-18942-501-12492 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 213px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12493 {
    position: absolute;
    left: 213px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-right-radius: 15px;
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12495 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 229px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12497 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 142px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12498 {
    position: absolute;
    left: 142px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12500 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 159px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .RECTANGLE-I714-19236-714-18942-501-12502 {
    position: absolute;
    left: 71px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12504 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 90px;
    top: 13px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-714-18942-501-12506 {
    position: absolute;
    width: 70px;
    height: 75px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 8;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-714-18942-501-12507 {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-left-radius: 15px;
  
    width: 68px;
    height: 73px;
    opacity: 1;
  }
  .FRAME-I714-19236-714-18942-501-12509 {
    transform: rotate(0deg);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 16px;
    top: 14px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I714-19236-363-4166 {
    position: absolute;
    width: 283px;
    height: 71px;
    left: 0px;
    top: 356px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4167 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 213px;
    top: 392px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4168 {
    position: absolute;
    left: 213px;
    top: 392px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-bottom-right-radius: 15px;
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4170 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 142px;
    top: 392px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4171 {
    position: absolute;
    left: 142px;
    top: 392px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4173 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 71px;
    top: 392px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4174 {
    position: absolute;
    left: 71px;
    top: 392px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4176 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 0px;
    top: 392px;
    transform: rotate(0deg);
    z-index: 6;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4177 {
    position: absolute;
    left: 0px;
    top: 392px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-bottom-left-radius: 15px;
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4179 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 213px;
    top: 356px;
    transform: rotate(0deg);
    z-index: 7;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4180 {
    position: absolute;
    left: 213px;
    top: 356px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-right-radius: 15px;
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4182 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 142px;
    top: 356px;
    transform: rotate(0deg);
    z-index: 8;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4183 {
    position: absolute;
    left: 142px;
    top: 356px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4185 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 71px;
    top: 356px;
    transform: rotate(0deg);
    z-index: 9;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4186 {
    position: absolute;
    left: 71px;
    top: 356px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4188 {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 0px;
    top: 356px;
    transform: rotate(0deg);
    z-index: 10;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4189 {
    position: absolute;
    left: 0px;
    top: 356px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-left-radius: 15px;
  
    width: 68px;
    height: 33px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4191 {
    position: absolute;
    width: 283px;
    height: 50px;
    left: 0px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4192 {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 228px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4193 {
    position: absolute;
    left: 228px;
    top: 293px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 53px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4194 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 249px;
    top: 319px;
    opacity: 1;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
  
    left: 248px !important;
    top: 318px !important;
  }
  .GROUP-I714-19236-363-4194-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4194-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4195 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 241px;
    top: 303px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4195-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4195-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4196 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 265px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4196-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4196-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4197 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 257px;
    top: 303px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4197-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4197-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4198 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 233px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4198-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4198-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4199 {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 171px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4200 {
    position: absolute;
    left: 171px;
    top: 293px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 53px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4201 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 184px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4201-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4201-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4202 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 184px;
    top: 303px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4202-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4202-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4203 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 200px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4203-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4203-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4204 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 200px;
    top: 303px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4204-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4204-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4205 {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 114px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 6;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4206 {
    position: absolute;
    left: 114px;
    top: 293px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 53px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4207 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 127px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4207-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4207-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4208 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 143px;
    top: 319px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4208-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4208-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4209 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 135px;
    top: 303px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4209-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4209-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4210 {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 57px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 7;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4211 {
    position: absolute;
    left: 57px;
    top: 293px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    width: 53px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4212 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 70px;
    top: 311px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4212-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4212-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4213 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 86px;
    top: 311px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4213-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4213-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4214 {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 0px;
    top: 293px;
    transform: rotate(0deg);
    z-index: 8;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4215 {
    position: absolute;
    left: 0px;
    top: 293px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
    width: 53px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4216 {
    transform: rotate(0deg);
    position: absolute;
    width: 14px;
    height: 14px;
    left: 21px;
    top: 311px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I714-19236-363-4216-71-443 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4216-71-446 {
    position: absolute;
    width: 11.666666030883789px;
    height: 11.083333015441895px;
    left: 1.1666666269302368px;
    top: 1.1666666269302368px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4217 {
    position: absolute;
    width: 283px;
    height: 91px;
    left: 0px;
    top: 189px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4218 {
    position: absolute;
    width: 283px;
    height: 34.999996185302734px;
    left: 0px;
    top: 245px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4219 {
    position: absolute;
    left: 0px;
    top: 245px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 89px;
    height: 32.999996185302734px;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4220 {
    position: absolute;
    left: 96px;
    top: 245px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 89px;
    height: 32.999996185302734px;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4221 {
    position: absolute;
    left: 192px;
    top: 245px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 89px;
    height: 32.999996185302734px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4225 {
    position: absolute;
    width: 283px;
    height: 50px;
    left: 0px;
    top: 189px;
    transform: rotate(0deg);
    z-index: 6;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4226 {
    position: absolute;
    left: 153px;
    top: 189px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 128px;
    height: 48px;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4227 {
    position: absolute;
    left: 0px;
    top: 189px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 128px;
    height: 48px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4231 {
    position: absolute;
    width: 283px;
    height: 50px;
    left: 0px;
    top: 126px;
    transform: rotate(0deg);
    z-index: 6;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4232 {
    position: absolute;
    left: 0px;
    top: 126px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 281px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-I714-19236-363-4234 {
    transform: rotate(0deg);
    position: absolute;
    width: 24px;
    height: 24px;
    left: 52px;
    top: 139px;
    opacity: 1;
    overflow: hidden;
  }
  .GROUP-I714-19236-363-4235 {
    position: absolute;
    width: 283px;
    height: 50px;
    left: 0px;
    top: 63px;
    transform: rotate(0deg);
    z-index: 7;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4236 {
    position: absolute;
    left: 142px;
    top: 63px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 139px;
    height: 48px;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4237 {
    position: absolute;
    left: 0px;
    top: 63px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
    width: 139px;
    height: 48px;
    opacity: 1;
  }
  .GROUP-I714-19236-363-4240 {
    position: absolute;
    width: 283px;
    height: 50px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 8;
    opacity: 1;
  }
  .RECTANGLE-I714-19236-363-4241 {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border: 1px solid rgba(217, 217, 217, 1);
  
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    width: 281px;
    height: 48px;
    opacity: 1;
  }
  .INSTANCE-598-8204 {
    transform: rotate(0deg);
    position: absolute;
    width: 869px;
    height: 1635px;
    left: 445px;
    top: 85px;
    opacity: 1;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    background: transparent;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  }
  .FRAME-I598-8204-417-13597 {
    transform: rotate(0deg);
    position: absolute;
    width: 866px;
    height: 1635px;
    left: 0px;
    top: 3px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13599 {
    position: absolute;
    left: 246px;
    top: 0px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13615 {
    position: absolute;
    left: 246px;
    top: 165px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13631 {
    position: absolute;
    left: 246px;
    top: 330px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13632 {
    position: absolute;
    left: 0px;
    top: 330px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 0;
  }
  .RECTANGLE-I598-8204-417-13647 {
    position: absolute;
    left: 246px;
    top: 495px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13648 {
    position: absolute;
    left: 0px;
    top: 495px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 0;
  }
  .RECTANGLE-I598-8204-417-13663 {
    position: absolute;
    left: 246px;
    top: 660px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13679 {
    position: absolute;
    left: 246px;
    top: 825px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13680 {
    position: absolute;
    left: 0px;
    top: 825px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13695 {
    position: absolute;
    left: 246px;
    top: 990px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13711 {
    position: absolute;
    left: 246px;
    top: 1155px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13727 {
    position: absolute;
    left: 246px;
    top: 1320px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13728 {
    position: absolute;
    left: 0px;
    top: 1320px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-417-13743 {
    position: absolute;
    left: 246px;
    top: 1485px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(255, 255, 255, 1);
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
    width: 620px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-405-4340 {
    position: absolute;
    left: 2px;
    top: 3px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 1;
  }
  .RECTANGLE-I598-8204-405-5783 {
    position: absolute;
    left: 2px;
    top: 168px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    width: 246px;
    height: 150px;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42787 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 24px;
    transform: rotate(0deg);
    z-index: 4;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42789 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 189px;
    transform: rotate(0deg);
    z-index: 5;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42791 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 354px;
    transform: rotate(0deg);
    z-index: 6;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42793 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 519px;
    transform: rotate(0deg);
    z-index: 7;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42795 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 684px;
    transform: rotate(0deg);
    z-index: 8;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42797 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 668px;
    transform: rotate(0deg);
    z-index: 9;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42808 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 849px;
    transform: rotate(0deg);
    z-index: 10;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42810 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 1014px;
    transform: rotate(0deg);
    z-index: 11;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42812 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 1179px;
    transform: rotate(0deg);
    z-index: 12;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42814 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 1344px;
    transform: rotate(0deg);
    z-index: 13;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42816 {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 751px;
    top: 1509px;
    transform: rotate(0deg);
    z-index: 14;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42818 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 10px;
    transform: rotate(0deg);
    z-index: 15;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42829 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 173px;
    transform: rotate(0deg);
    z-index: 16;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42840 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 338px;
    transform: rotate(0deg);
    z-index: 17;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42851 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 503px;
    transform: rotate(0deg);
    z-index: 18;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42862 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 833px;
    transform: rotate(0deg);
    z-index: 19;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42873 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 998px;
    transform: rotate(0deg);
    z-index: 20;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42884 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 1163px;
    transform: rotate(0deg);
    z-index: 21;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42895 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 1328px;
    transform: rotate(0deg);
    z-index: 22;
    opacity: 1;
  }
  .GROUP-I598-8204-889-42906 {
    position: absolute;
    width: 99px;
    height: 13.49000072479248px;
    left: 752px;
    top: 1493px;
    transform: rotate(0deg);
    z-index: 23;
    opacity: 1;
  }
  .INSTANCE-845-7609 {
    transform: rotate(0deg);
    position: absolute;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 1875px;
    opacity: 1;
    background-image: linear-gradient(
      180deg,
      rgba(248, 181, 21, 1) 0%,
      rgba(255, 120, 16, 1) 100%
    );
    border: 1px solid transparent;
  
    left: -1px !important;
    top: 1874px !important;
  }
  .GROUP-I845-7609-497-11763 {
    position: absolute;
    width: 1440px;
    height: 294.00006103515625px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .FRAME-I845-7609-497-11764 {
    transform: rotate(0deg);
    position: absolute;
    width: 22.529335021972656px;
    height: 24.24242401123047px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .GROUP-I845-7609-497-11776 {
    position: absolute;
    width: 1235px;
    height: 30.303030014038086px;
    left: 103px;
    top: 263.697021484375px;
    transform: rotate(0deg);
    z-index: 13;
    opacity: 1;
  }
  .FRAME-I845-7609-497-11779 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1001px;
    top: 126px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .FRAME-I845-7609-497-11781 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1001px;
    top: 176px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .INSTANCE-882-40983 {
    transform: rotate(0deg);
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 165, 0, 1);
  }
  .GROUP-I882-40983-408-53810 {
    position: absolute;
    width: 1261px;
    height: 62px;
    left: 89px;
    top: 9px;
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }
  .FRAME-I882-40983-408-53811 {
    transform: rotate(0deg);
    position: absolute;
    width: 1261px;
    height: 62px;
    left: 89px;
    top: 9px;
    opacity: 1;
    background: transparent;
  }
  .GROUP-I882-40983-408-53813 {
    position: absolute;
    width: 257px;
    height: 39px;
    left: 950px;
    top: 11px;
    transform: rotate(0deg);
    z-index: 2;
    opacity: 1;
  }
  .GROUP-I882-40983-408-53816 {
    position: absolute;
    width: 448.9998474121094px;
    height: 37.000030517578125px;
    left: 377px;
    top: 12px;
    transform: rotate(0deg);
    z-index: 3;
    opacity: 1;
  }
  .FRAME-I882-40983-408-53817 {
    transform: rotate(0deg);
    position: absolute;
    width: 34.351890563964844px;
    height: 37px;
    left: 791.64794921875px;
    top: 12px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .FRAME-I882-40983-408-53827 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1093px;
    top: 21px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  .FRAME-I882-40983-408-53829 {
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1066px;
    top: 21px;
    opacity: 1;
    overflow: hidden;
    background: transparent;
  }
  
  